.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
coverage
spec/dummy/config/initializers/setup_email.rb
spec/dummy/config/email.yml
spec/dummy/config/initializers/email_setup.rb
