<!DOCTYPE html>
<html>
<head>
  <title>Gossiper</title>
  <%= stylesheet_link_tag    "gossiper/application", media: "all" %>
  <%= javascript_include_tag "gossiper/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
